{% extends 'base.html' %}

{% block title %}{{user.id}}{% endblock %}

{% block content %}

    <img src="{{user.image_url}}" alt="{{user.full_name}}">
    <h1>{{user.full_name}}</h1>
    <form action="/users/{{user.id}}/edit" id="add">
        <button>Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" id="delete" method="POST">
        <button>Delete</button>
    </form>

    <h2>Posts</h2>
    <ul>
        {% for post in user.posts %}
            <li>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </li>
        {% endfor %}
    </ul>
    <form action="/users/{{user.id}}/posts/new">
        <button>Add Post</button>
    </form>

{% endblock %}