{% extends 'base.html' %}

{% block title %}Edit {{post.title}}{% endblock %}

{% block content %}

    <h1>Edit Post for {{post.users.full_name}}</h1>
    <form method="POST">
        <div>
            <label for="">Title</label>
            <input type="text" name="title">
            <label for="">Content</label>
            <input type="text" name="content">
        </div>
        
        <div>
            {% for tag in tags %}
                <div>
                    <input type="checkbox" id="tag_{{tag.id}}" name="tags" value="{{tag.id}}">
                    <label for="tag_{{tag.id}}">{{tag.name}}</label><br>
                </div>
            {% endfor %}
        </div>

        <button>Edit</button>
    </form>
        
    <form action="/users/{{post.users.id}}">
       <button>Cancel</button> 
    </form>

{% endblock %}