{% extends 'base.html' %}

{% block title %}Edit {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

    <h1>Edit a user</h1>
    <form method="POST">
        <label for="">First Name</label>
        <input type="text" name="first-name" value="{{user.first_name}}">
        <label for="">Last Name</label>
        <input type="text" name="last-name" value="{{user.last_name}}">
        <label for="">Image URL</label>
        <input type="url" name="image-url" value="{{user.image_url}}">
        <button>Add</button>
    </form>
    
    <form action="/users">
       <button>Cancel</button> 
    </form>
{% endblock %}