{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}

    <h1>{{post.title}}</h1>
    <p>
        {{post.content}}
    </p>

    <h5>By {{post.users.full_name}}</h5>
        
    <section>
        <b>Tags:</b>
        {% for tag in post.tags %}
            <a href="/tags/{{tag.id}}">{{tag.name}}</a>
        {% endfor %}   
    </section>

    <a href="/users/{{post.users.id}}">
        <button>Cancel</button>
    </a>

    <form action="/posts/{{post.id}}/edit">
        <button>Edit</button>
    </form>
    <form action="/posts/{{post.id}}/delete" method="POST">
        <button>Delete</button>
    </form>

{% endblock %}