{% extends 'base.html' %}

{% block title %}{{tag.name}}{% endblock %}

{% block content %}

    <h1>{{tag.name}}</h1>
    <ul>
        {% for post in tag.posts %}
            <li>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/tags">
        <button>Cancel</button>
    </a>

    <form action="/tags/{{tag.id}}/edit">
        <button>Edit</button>
    </form>
    <form action="/tags/{{tag.id}}/delete" method="POST">
        <button>Delete</button>
    </form>

{% endblock %}